<!DOCTYPE html>
<html>
   <body>
   
      <h3>Create New Forum Post</h3>
      <hr/>

      <form action = "{{ request.path }}" method = "post">
         <label for = "title">Post Title</label><br>
         <input type = "text" name = "title" placeholder = "title" /><br>

         <label for = "text">Text</label><br>
         <textarea name = "text" placeholder = "text"></textarea><br>

         <label for = "author">Author</label><br>
         <input type = "text" name = "author" placeholder = "author" /><br>

         <input type = "submit" value = "Submit" />
      </form>
      
   </body>
</html>