<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>

    <h3>Forum (<a href = "{{ url_for('create') }}">Add New Post</a>)</h3>
    <hr/>

      <table>
         <thead>
            <tr>
               <th>ID</th>
               <th>Title</th>
               <th>Author</th>
            </tr>
         </thead>
         
         <tbody>
            {% for post in posts %}
               <tr>
                  <td>{{ post.post_id }}</td>
                  <td>{{ post.title }}</td>
                  <td>{{ post.author }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>